apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

commonLabels:
  app.kubernetes.io/name: finsight-agent-namespace
  app.kubernetes.io/part-of: finsight-platform
